{% extends "base.html" %}
{% block titulo %}Rally MTB 2025 - Registro{% endblock %}

{% block contenido %}
<article id="contact">
    <h2 class="major">Inscripción</h2>
    <form id="contact-form" method="post">
        <div class="fields">
            <div class="field half">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" required />
            </div>
        <div class="field half">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required />
        </div>
        <div class="field">
            <label for="modalidad">Modalidad</label>
            <select name="modalidad" id="modalidad" required>
                <option value="">Seleccioná una opción</option>
                <option value="Corta (30 km)">Corta (30 km)</option>
                <option value="Larga (80 km)">Larga (80 km)</option>
            </select>
        </div>
        <div class="field">
            <label for="message">Mensaje</label>
            <textarea name="message" id="message" rows="4"></textarea>
        </div>
    </div>
    <ul class="actions">
        <li><input type="submit" value="Enviar mensaje" class="primary" /></li>
        <li><input type="reset" value="Resetear" /></li>
    </ul>
    </form>
</article>

<script src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script>
    emailjs.init("JbtJ0bN4J1ri7Loxf");
    const form = document.getElementById('contact-form');

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        emailjs.sendForm('service_mu3s4b7', 'template_ftr1kfm', this)
        .then(() => {
            alert('Mensaje enviado con éxito 😊');
            form.reset();
            }, (error) => {
        alert('Hubo un error al enviar el mensaje 😢');
        console.error('EmailJS error:', error);
        });
    });   
</script>
{% endblock %}