<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <noscript><link rel="stylesheet" href="/static/css/noscript.css"></noscript>
    <title>Contact</title>
</head>
<body class="is-preload">
    <div id="wrapper">
        <article id="contact">
            <h2 class="major">Contact</h2>
            <form id="contact-form" method="post" action="#">
                <div class="fields">
                    <div class="field half">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="4"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </form>
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </article>
    </div>
</body>

<script src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script>
  emailjs.init("JbtJ0bN4J1ri7Loxf"); // Reemplazá con tu public key real

  const form = document.getElementById('contact-form');

  form.addEventListener('submit', function(e) {
    e.preventDefault();

    emailjs.sendForm('service_mu3s4b7', 'template_ftr1kfm', this)
      .then(() => {
        alert('Mensaje enviado con éxito 😊');
        form.reset();
      }, (error) => {
        alert('Hubo un error al enviar el mensaje 😢');
        console.error('EmailJS error:', error);
      });
  });
</script>

</html>